**Experiment No.07**

---

**Aim:** To perform Classification on a DataSet. 

---


**Objectives**
1. To implement Classification on a dataset.

---
**Theory:**

In machine learning and statistics, classification is the problem of identifying to which of a set of categories (sub-populations) a new observation belongs, on the basis of a training set of data containing observations (or instances) whose category membership is known. 

Examples are assigning a given email to the "spam" or "non-spam" class, and assigning a diagnosis to a given patient based on observed characteristics of the patient (sex, blood pressure, presence or absence of certain symptoms, etc.

Classification is an example of pattern recognition.

In the terminology of machine learning, classification is considered an instance of supervised learning, i.e., learning where a training set of correctly identified observations is available. The corresponding unsupervised procedure is known as clustering, and involves grouping data into categories based on some measure of inherent similarity or distance.


Classification can be performed using various sklearn algorithms like KNN, SVM,  Decision Trees, Random Forests,etc.
In this experiment, I have performed Support Vector machines to classify binary data.

**Dataset**:
Voice Gender
Gender Recognition by Voice and Speech Analysis

This database was created to identify a voice as male or female, based upon acoustic properties of the voice and speech. The dataset consists of 3,168 recorded voice samples, collected from male and female speakers. The voice samples are pre-processed by acoustic analysis in R using the seewave and tuneR packages, with an analyzed frequency range of 0hz-280hz (human vocal range).

The following acoustic properties of each voice are measured and included within the CSV:

meanfreq: mean frequency (in kHz)
sd: standard deviation of frequency
median: median frequency (in kHz)
Q25: first quantile (in kHz)
Q75: third quantile (in kHz)
IQR: interquantile range (in kHz)
skew: skewness (see note in specprop description)
kurt: kurtosis (see note in specprop description)
sp.ent: spectral entropy
sfm: spectral flatness
mode: mode frequency
centroid: frequency centroid (see specprop)
peakf: peak frequency (frequency with highest energy)
meanfun: average of fundamental frequency measured across acoustic signal
minfun: minimum fundamental frequency measured across acoustic signal
maxfun: maximum fundamental frequency measured across acoustic signal
meandom: average of dominant frequency measured across acoustic signal
mindom: minimum of dominant frequency measured across acoustic signal
maxdom: maximum of dominant frequency measured across acoustic signal
dfrange: range of dominant frequency measured across acoustic signal
modindx: modulation index. Calculated as the accumulated absolute difference between adjacent measurements of fundamental frequencies divided by the frequency range
label: male or female

The dataset is taken from : https://www.kaggle.com/primaryobjects/voicegender/download

Detailed description of the dataset can be found on the above url.

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv('voice.csv')

In [0]:
df.head(5)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000   male
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632   male
2  0.077316  0.083829  0.036718  0.008701  ...  0.015625  0.007812  0.046512   male
3  0.151228  0.072111  0.158011  0.096582  ...  0.562500  0.554688  0.247119   male
4  0.135120  0.079146  0.124656  0.078720  ...  5.484375  5.476562  0.208274   male

[5 rows x 21 columns]

These are the sample tuples from the dataset.

All the columns except the last one are the input to the dataset and the label column indicates whether the sound is a male sound or a female sound.

In [0]:
print(df.columns)

Index(['meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx', 'label'],
      dtype='object')

These are the attributes that are given to the model and the study about the data input is out of the scope of the wxperiment.

In [0]:
len(df)

3168

In [0]:
Y = df['label']
Y.replace(0, 'male', inplace=True)
Y.replace(1, 'female', inplace= True)

The above code input converts text data to numerical data.
The only text data is the label i.e. male or female.
It replaces male with value 0 and female with value 1.

In [0]:
df.drop(['label'], inplace=True, axis = 1)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
scaled_data = scaler.transform(df)
type(scaled_data)

numpy.ndarray

We scale the entire dataset before we pass it to the KNN model. 
Many machine learning algorithms work better when features are on a relatively similar scale and close to normally distributed.

 MinMaxScaler, RobustScaler, StandardScaler, and Normalizer are scikit-learn methods to preprocess data for machine learning.

StandardScaler standardizes a feature by subtracting the mean and then scaling to unit variance. 

Unit variance means dividing all the values by the standard deviation. 
StandardScaler does not meet the strict definition of scale I introduced earlier.

StandardScaler results in a distribution with a standard deviation equal to 1. The variance is equal to 1 also, because variance = standard deviation squared. And 1 squared = 1.

StandardScaler makes the mean of the distribution 0. About 68% of the values will lie be between -1 and 1.

In [0]:
scaled_df = pd.DataFrame(scaled_data)

The values in the DataFrame after performing Standard Scaler are as follows.

In [0]:
scaled_df.head(5)

         0         1         2   ...        17        18        19
0 -4.049248  0.427355 -4.224901  ... -1.431422 -1.419137 -1.454772
1 -3.841053  0.611669 -3.999293  ... -1.418107 -1.405818 -1.014103
2 -3.463066  1.603848 -4.095851  ... -1.429203 -1.416917 -1.065344
3 -0.992157  0.899998 -0.759454  ... -1.273867 -1.261532  0.614286
4 -1.530640  1.322561 -1.676948  ...  0.124154  0.136933  0.289046

[5 rows x 20 columns]

We now Split the dataset into test data and train data using the train_test_split. And pass the training data to the Support Vector classifier.

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df, Y, test_size  = 0.7 , random_state = 42)

In [0]:
from sklearn.svm import SVC

In [0]:
svc =SVC()
svc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
predictions = svc.predict(X_test)

In [0]:
from sklearn.metrics import classification_report, confusion_matrix

The result of the models are as follows.

In [0]:
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

              precision    recall  f1-score   support

      female       0.98      0.98      0.98      1111
        male       0.98      0.98      0.98      1107

    accuracy                           0.98      2218
   macro avg       0.98      0.98      0.98      2218
weighted avg       0.98      0.98      0.98      2218

[[1084   27]
 [  27 1080]]

**Conclusion**

Thus, in the above experiment, I have learnt about classification of data into various classes. I have implemented Classification using Support Vector classifiers.